.footer-container{
    width: 100%;
    margin: 40px auto ;
    height: 120px;
    background-color: #95afc0;
   position: absolute;
   bottom: 0;
   left: 0;
   padding: 10px;
    
}
.footer-container p{
    text-align: center;
}